    <div class="container">
            <h1>Register</h1>
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   ng-model="vm.user.username"/>
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="vm.user.password"/>
            <a class="btn btn-primary btn-block"
               ng-click="vm.addUser(vm.user)"
               href="">Register</a>
            <a class="btn btn-danger  btn-block"
               href="#!/login">Cancel</a>
        </div>
    </div>