    <span class="widget-setting pull-right pull-top">
    <a href="#!/user/{{$parent.vm.uid}}/website/{{$parent.vm.wid}}/page/{{$parent.vm.pid}}/widget/{{$parent.widget._id}}">
        <span class="glyphicon glyphicon-cog"></span>
    </a>
    <a href=""><span class="glyphicon glyphicon-align-justify"></span></a>

    </span>

    <div ng-switch="{{$parent.widget.size}}">
        <h1 ng-switch-when="1">{{$parent.widget.text}}</h1>
        <h2 ng-switch-when="2">{{$parent.widget.text}}</h2>
        <h3 ng-switch-when="3">{{$parent.widget.text}}</h3>
        <h4 ng-switch-when="4">{{$parent.widget.text}}</h4>
    </div>