<h3>Image Widget</h3>
                        <label for="name">Name</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Widget Name"
                               ng-model="$parent.vm.widget.name"/>

                        <label for="text">Text</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Widget Text"
                               ng-model="$parent.vm.widget.text"/>

                        <label for="url">Url</label>
                        <input type="text"
                               class="form-control"
                               placeholder="URL"
                               ng-model="$parent.vm.widget.url"/>

                        <label for="width">Width</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Width"
                               ng-model="$parent.vm.widget.width"/>

                        <label for="upload">Upload</label>
                        <input type="file"
                               class="form-control"
                               placeholder="Choose File"
                               ng-model="$parent.vm.widget.upload"/>


                    </div>
                    <a class="btn btn-success btn-block"
                       ng-click="$parent.vm.updateWidget($parent.vm.widget)">Save Changes</a>
                    <a class="btn btn-danger  btn-block"
                       ng-click="$parent.vm.deleteWidget()">Delete</a>
                <!--<input type="text"-->
                <!--class="form-control"-->
                <!--placeholder="Description"/>-->
