                <h3>Heading Widget</h3>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Widget Name"
                           ng-model="$parent.vm.widget.name"/>
                </div>
                <div class="form-group">
                    <label for="title">Text</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Widget Text"
                           ng-model="$parent.vm.widget.text"/>
                </div>
                <div class="form-group">
                    <label for="name">Size</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Size"
                           ng-model="$parent.vm.widget.size"/>
                </div>
                <a class="btn btn-success btn-block"
                   ng-click="$parent.vm.updateWidget($parent.vm.widget)">Save Changes</a>
                <a class="btn btn-danger  btn-block"
                   ng-click="$parent.vm.deleteWidget()">Delete</a>
